@model WebApplication.Models.RoleViewModel
@{
    ViewBag.Title = "AddUserRole";
}

<h2>AddUserRole</h2>


@using (Html.BeginForm("AddUserRole", "Administration", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(model => model.Name)
                @Html.EditorFor(model => model.Name)
            </div>
        </div>
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
}
