@{
    ViewBag.Title = "Home Page";
}

<div class="title-box row">
    <div class="ztn-team">
    </div>
    <iframe class="title-media" width="537" height="303" src="https://www.youtube.com/embed/luktEUo4adQ" frameborder="0" allowfullscreen></iframe>
</div>

<div id="news">
</div>

<script type="text/javascript">
    $(document).ready(function () {
        LoadNews(1);
    });

    function FilterNews(currentPage) {
        LoadNews(currentPage);
    }

    function LoadNews(currentPage) {
        $.get("@Url.Action("NewsPartialList", "News")", { page: currentPage })
        .done(function (data) {
            $('#news').html('');
            $('#news').html(data);
        });
    }
</script>