<div class="modal fade" id="winReq" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Системные требования</h4>
            </div>
            <div class="modal-body req">
                <h5 class="req-info">
                    Системные требования распространяются на лаунчер и клиенты Minecraft проекта HitechCraft.
                    Требования по аппаратному обеспечению взяты с <a href="https://help.mojang.com/customer/en/portal/articles/325948-minecraft-system-requirements">Help Mojang</a>.
                </h5>
                <div>
                    <p class="req-title">
                        <strong>Необходимое программное обеспечение:</strong>
                    </p>
                    <p>
                        <strong>OS: </strong>
                        <span>Windows 7 Home Premium и выше.</span>
                    </p>
                    <p>
                        <strong>Java: </strong>
                        <span>Последняя версия - <a href="http://java.com/download/">Java 8</a>.</span>
                    </p>
                    <p>
                        <strong>.NET Framework: </strong>
                        <span><a href="https://www.microsoft.com/ru-ru/download/details.aspx?id=30653">v4.5 и выше</a>.</span>
                    </p>
                </div><hr />
                <div>
                    <p class="req-title">
                        <strong>Минимальные системные требования:</strong>
                    </p>
                    <p>
                        <strong>Процессор: </strong>
                        <span>Intel Pentium D / AMD Athlon 64 (K8) 2.6 GHz.</span>
                    </p>
                    <p>
                        <strong>ОЗУ: </strong>
                        <span>2 GB.</span>
                    </p>
                    <p>
                        <strong>Видео: </strong>
                        <span>Intel HD Graphics / AMD Radeon HD 2400 / Nvidia GeForce 9600 GT с поддержкой OpenGL 2.1 или 3.1.</span>
                    </p>
                    <p>
                        <strong>Места на жестком диске: </strong>
                        <span>200 MB (на 1 клиент).</span>
                    </p>
                </div>
                <hr />
                <div>
                    <p class="req-title">
                        <strong>Рекомендованные системные требования:</strong>
                    </p>
                    <p>
                        <strong>Процессор: </strong>
                        <span>Intel Core i3 / AMD Athlon II (K10) 2.8 GHz.</span>
                    </p>
                    <p>
                        <strong>ОЗУ: </strong>
                        <span>4 GB.</span>
                    </p>
                    <p>
                        <strong>Видео: </strong>
                        <span>GeForce 2xx Series / AMD Radeon HD 5xxx Series с поддержкой OpenGL 3.1 или 3.3.</span>
                    </p>
                    <p>
                        <strong>Места на жестком диске: </strong>
                        <span>200 MB (на 1 клиент).</span>
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Окей</button>
            </div>
        </div>
    </div>
</div>