@{
    ViewBag.Title = "ZTN Team";
}
<h2 class="page-title">@ViewBag.Title</h2>

<div class="ztn-about">
    <div class="col-md-6">
        <img src="~/Content/Images/ZTNTeam.png" />
    </div>
    <div class="col-md-6">
        <p>
            Команда ZTN была основана в 2015 году четыремя людьми (Random, Mytantter, Underwater и Rimsoul), и до сих пор набирает популятность. К нашей команде
            продолжают присоединяться разработчики и геймеры различной направленности.
        </p>
        <p>
            Проект HitechCraft является одним из немногих достижений команды. Сеть серверов включающие удобно скомбинированные модификации предоставляет
            завлекающий геймплей на проекте.
            <br/>
            На проекте множество серверов различной направленности:
            <ul>
                <li>Индустриальный</li>
                <li>Магический</li>
                <li>RPG</li>
                <li>Клановый</li>
                <li>Sandbox</li>
            </ul>
            и многие другие.
        </p>
        <p>Не забывай @Html.ActionLink("поддержать", "Vote") наш проект! Голосуй за нас на Topcraft, MCTop и других топах!</p>
        <p>
            Есть предложения по поводу проекта? Пиши нам и мы обязательно рассмотрим твое предложение!
            Так же не забудь подписаться на наш канал <a href="https://www.youtube.com/channel/UCmJoCfsUVN55zwZUJQOyfKQ">Youtube</a>!
            Прохождения ваших любимых игр, выживание и эпичный мультиплеер!
        </p>
    </div>
</div>