@{
    ViewBag.Title = "Главная";
}

<div class="slider">
    <ul>
        <li>
            <img src="/Content/Images/slider/1.png" />
            <span class="text">Интересный геймплей</span>
            <span class="desc">Интереные тематики серверов: от Инустриального до RPG с элементами Hi-tech</span>
        </li>
        <li>
            <img src="/Content/Images/slider/2.png" />
            <span class="text">Захватывающие битвы</span>
            <span class="desc">Бейтесь с другими игроками и завоюйте первенство!</span>
        </li>
        <li>
            <img src="/Content/Images/slider/3.png" />
            <span class="text">Акции и скидки</span>
            <span class="desc">Постоянные скидки в том числе и в Магазине Ресурсов</span>
        </li>
    </ul>
    <div class="logo">
        <span class="text">HitechCraft</span>
        <span class="sign">Multiserver Complex</span>
    </div>
    <div class="item-day">
        <h4>ТОВАР ДНЯ!</h4>
        <img src="../../Content/Images/testblock.png" />
        <a href="#">Купить</a>
        <span><del>500</del> 400 Gont</span>
    </div>
    <div class="title-block" style="position: absolute; bottom: 0;">
        <div class="title">
            <div class="title-image title-main"></div>
            <div class="title-text">Приветствуем тебя, игрок!</div>
            <div class="title-desc">Нажми начать играть и вперед осваивать новые возможности!</div>
        </div>
        <div class="title-link">
            <a href="#">Начать игру</a>
        </div>
    </div>
</div>

<div class="hex-menu">
    <div class="hex-menu-content">
        <div class="hex hex-news hex-gap">
            <div class="inner">
                <h4>НОВОСТИ</h4>
            </div>
            <div class="corner-1"></div>
            <div class="corner-2"></div>
        </div>
        <div class="hex hex-forum">
            <div class="inner">
                <h4>Форум</h4>
            </div>
            <div class="corner-1"></div>
            <div class="corner-2"></div>
        </div>
        <div class="hex hex-servers">
            <div class="inner">
                <h4>Сервера</h4>
            </div>
            <div class="corner-1"></div>
            <div class="corner-2"></div>
        </div>
        <div class="hex hex-top">
            <div class="inner">
                <h4>Топ игроков</h4>
            </div>
            <div class="corner-1"></div>
            <div class="corner-2"></div>
        </div>
        <div class="hex hex-shop">
            <div class="inner">
                <h4>Магазин</h4>
            </div>
            <div class="corner-1"></div>
            <div class="corner-2"></div>
        </div>
        <div class="hex hex-vote">
            <div class="inner">
                <h4>Голосовать!</h4>
            </div>
            <div class="corner-1"></div>
            <div class="corner-2"></div>
        </div>
        <div class="hex hex-skin">
            <div class="inner">
                <h4>Скины</h4>
            </div>
            <div class="corner-1"></div>
            <div class="corner-2"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>

<div class="splitter">
    <span>Если вы стали свидетелем нарушения сообщите на форум!</span>
</div>

<div class="project-desc">
    <h1>
        Проект HitechCraft является мультисерверным комплексом Minecraft различной тематики (от экстремального выживания до RPG серверов).
        <br />Мы предоставляем ознакомительный вариант игры, а официальную версию можно приобрести <a href="https://minecraft.net/">здесь</a>.
    </h1>
</div>

<script type="text/javascript">
    function FilterNews(currentPage) {
        LoadNews(currentPage);
    }

    $(document).ready(function () {
        $('.slider>ul').fadeSlideShow();
    });

    function LoadNews(currentPage) {
        window.ajaxLoaderText = "Загрузка новостей...";

        $.get("@Url.Action("NewsPartialList", "News")", { page: currentPage })
        .done(function (data) {
            $('#news').html('');
            $('#news').html(data);
        });
    }

    function LoadNewsText(newsText, newsAuthor, newsId) {

        //Темная магия
        var text = newsText;
        var tags = ['[p]', '[/p]', '[br]', '[ul]', '[/ul]', '[li]', '[/li]', '[b]', '[/b]', '[h5]', '[/h5]'];

        $.each(tags, function (index, value) {
            var tag = value.replace(/\[/gi, '<').replace(/\]/gi, '>');
            value = value.replace(/\[/gi, '\\[').replace(/\]/gi, '\\]');

            var regExp = new RegExp(value, "gi");

            text = text.replace(regExp, tag);
        });

        text += '... <a href="@Url.Action("Details", "News")?id=' + newsId + '">Читать полностью</a>';

        $('#news-text-' + newsId + ' .news-text-container').html('');
        $('#news-text-' + newsId + ' .news-text-container').html(text);
        //sign
        $('#news-text-' + newsId + ' #news-sign-' + newsId).html('');
        $('#news-text-' + newsId + ' #news-sign-' + newsId).html('<h5>' + newsAuthor + '</h5>');
    }

</script>