@{
    ViewBag.Title = "Главная";
}

@Html.Partial("_TitleBox")
@*<div class="monitoring">
    <h2 class="overall">Общий онлайн 534 из 1000 игроков!</h2>
    <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-success" style="width: 35%"></div>
        <div class="progress-bar progress-bar-warning" style="width: 20%"></div>
        <div class="progress-bar progress-bar-danger" style="width: 10%"></div>
    </div>
</div>*@

<div class="content">
    @Html.Partial("_Sidebar")

    <div class="col-md-8">
        <h1 class="news-title">
            Новости проекта
        </h1>
        <div id="news"></div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        LoadNews(1);
    });

    function FilterNews(currentPage) {
        LoadNews(currentPage);
    }

    function LoadNews(currentPage) {
        window.ajaxLoaderText = "Загрузка новостей...";

        $.get("@Url.Action("NewsPartialList", "News")", { page: currentPage })
        .done(function (data) {
            $('#news').html('');
            $('#news').html(data);
        });
    }

    function LoadNewsText(newsText, newsAuthor, newsId) {

        //Темная магия
        var text = newsText;
        var tags = ['[p]', '[/p]', '[br]', '[ul]', '[/ul]', '[li]', '[/li]', '[b]', '[/b]', '[h5]', '[/h5]'];

        $.each(tags, function (index, value) {
            var tag = value.replace(/\[/gi, '<').replace(/\]/gi, '>');
            value = value.replace(/\[/gi, '\\[').replace(/\]/gi, '\\]');

            var regExp = new RegExp(value, "gi");

            text = text.replace(regExp, tag);
        });

        text += '... <a href="@Url.Action("Details", "News")?id=' + newsId + '">Читать полностью</a>';

        $('#news-text-' + newsId + ' .news-text-container').html('');
        $('#news-text-' + newsId + ' .news-text-container').html(text);
        //sign
        $('#news-text-' + newsId + ' #news-sign-' + newsId).html('');
        $('#news-text-' + newsId + ' #news-sign-' + newsId).html('<h5>' + newsAuthor + '</h5>');
    }

</script>