
@{
    ViewBag.Title = "Правила проекта";
}

<h2 class="page-title">@ViewBag.Title</h2>
<h4 style="line-height: 32px;">Правила составлялись при содействии с Администрацией проекта. Не знание правил не освобождает игрока от ответственности!</h4>

<div class="rules">
    <ol>
        <h4>Общие положения</h4>
        <li>При регистрации на проекте игрок АВТОМАТИЧЕСКИ соглашается со всеми правилами, предписанными ниже.</li>
        <li>Играя на проекте, пользователь должен соблюдать все правила (относящиеся ему по статусу) безукоризненно.</li>
        <li>Пользователь так же должен соблюдать законы, предписанные в Конституции РФ.</li>
        <li>Изменения в правилах происходят регулярно. Пользователей оповещают об их изменениях!</li>
        <li>Регистрация пользовательского имени не должно противоречить авторским правам других сервисов, а также дублироваться (например, Nickname и nickname1) с именем другого пользователя (кроме случая, если второй не против).</li>
        <li>За несоблюдение правил игрок наказывается по мере нарушения правил.</li>
    </ol>
    <ol>
        <h4>Общение</h4>
        <li>Данный список правил относится ко всем community чатам на проекте (в том числе и комментариям в новостях)!</li>
        <li>Общаясь с другими игроками (кроме приватной почты и если тот не против) запрещено использовать ненормативную лексику, более известную как мат.</li>
        <li>Запрещено оскорблять игроков любыми способами.</li>
        <li>Запрещен флуд и спам.</li>
        <li>Запрещено использовать транслит кириллицы (замена русских букв на латинские). Исключением является использование полноценного английского языка.</li>
        <li>В community чатах запрещено использовать иностранные языки (кроме английского).</li>
    </ol>
    <ol>
        <h4>Геймплей</h4>
        <li>Данный список правил распространяется при действии на серверах проекта.</li>
        <li>Геймплей на проекте представляет собой процесс игры в Minecraft на выделенных серверах.</li>
        <li>Запрещено вмешательство в геймплей игрока других игроков (мешать пользователю играть, т.е. совершать действия против его воли).</li>
        <li>Запрещено создавать высокую нагрузку на сервер засчет больших редстоун цепей и других схем.</li>
        <li>Запрещено нелегальное убийство игроков (утоплением, взрывами и пр.)</li>
        <li>Наказываются так же кражи ресурсов (выбивание ресурсов через pvp сюда не относится).</li>
        <li>Запрещено использовать баги сервера в своих личных целях, или на облегчение своей игры и игры других игроков.</li>
        <li>Запрещено использовать читы!</li>
        <li>Запрещены большие раздачи ресурсов со стороны V.I.P пользователей.</li>
    </ol>
    <ol>
        <h4>Экономика</h4>
        <li>Данный пункт относится к обмену, покупке/продаже ресурсов на проекте.</li>
        <li>На проекте существует онлайн Магазин ресурсов. Там вы сможете приобрести ресурсы за игровую валюту (Gont).</li>
        <li>Реальная валюта (RUB) используется для покупки дополнительных групп и наборов ресурсов</li>
        <li>
            Запрещено получать игровую (и реальную) валюту нелегальными способами. Легальными являются:
            <ul>
                <li>
                    Пополнение баланса на сайте (для обеих валют).
                </li>
                <li>
                    Получения валюты как приза в каком-либо конкурсе проекта (для обеих валют).
                </li>
                <li>
                    Обмен валюты (так же происходит на сайте).
                </li>
                <li>
                    Заработок валюты на сервере (только для игровой валюты).
                </li>
            </ul>
        </li>
        <li>Персональные магазины на сервере не зависят от онлайн Магазина Ресурсов. Цены в магазинах игроки придумывают СВОИ, но можно использовать и стандартные цены проекта.</li>
        <li>Раздачи ресурсов никак не влияют на экономику проекта!</li>
    </ol>
</div>