@model HitechCraft.WebAdmin.Models.PlayerInfoViewModel

@{
    Layout = null;
}

@if (Model != null)
{
    <p>
        <strong>Никнэйм: </strong>
        @Model.Name
    </p>
    <p>
        <strong>Пол: </strong>
        @Model.Gender
    </p>
    <p>
        <strong>Gonts: </strong>
        @Model.Gonts
    </p>
    <p>
        <strong>Рубли: </strong>
        @Model.Rubles
    </p>
}
else
{
    <h3>Пользователь не имеет аккаунта игрока</h3>
}