@model IEnumerable<string>
@{
    Layout = null;
}
@if (Model != null)
{
    foreach (var role in Model)
    {
        <p>@role <span class="glyphicon glyphicon-remove role-remove" onclick="DeleteRole('@role')" title="Удалить роль"></span></p>
    }
}
else
{
    <p>Ролей нет</p>
}

<script type="text/javascript">
    function DeleteRole(roleName) {
        if (confirm('Вы действительно хотите удалить роль?')) {
            $.post('@Url.Action("DeleteRole")',
            { role: roleName },
            function (responce) {
                if (responce.status === 'OK') {
                    growlSuccess(responce.message);
                    setTimeout(function () {
                        document.location.reload();
                    },
                        2000);
                } else {
                    growlError(responce.message);
                }
            });
        }
    }
</script>