
@{
    ViewBag.Title = "Игроки проекта";
}

<h2 class="page-title">@ViewBag.Title</h2>

<input id="filterUsers" class="form-control" placeholder="Поиск по имени и email" />

<div id="userList">
    @Html.Action("UserPartialList")
</div>

<script type="text/javascript">
    $('#filterUsers')
        .on('input',
            function() {
                LoadUsers(null);
            });

    function FilterUsers(page) {
        LoadUsers(page);
    }

    function LoadUsers(pageNumber) {
        $.ajax({
            url: '@Url.Action("UserPartialList", "User")',
            data: {
                page: pageNumber,
                userNameFilter: $('#filterUsers').val()
            }
        }).done(function (data) {
            $('#userList').html('');
            $('#userList').html(data);
        });
    }
</script>