@using HitechCraft.WebApplication.Manager
@{
    ViewBag.Title = "Каталог скинов";
}

<h2 class="page-title">@ViewBag.Title</h2>

<div id="skins"></div>

@if (User != null && User.IsInRole("Administrator"))
{
    <a class="btn btn-primary" href="@(Const.WebAdminBaseUrl + "Skin")">Администрирование</a>
}

<script type="text/javascript">
    $(document).ready(function() {
        LoadSkins(1);
    });

    function GetSkins(currentPage) {
        LoadSkins(currentPage);
    }

    function LoadSkins(currentPage) {
        $.get("@Url.Action("SkinPartialList", "Skin")", { page: currentPage })
            .done(function(data) {
                $('#skins').html('');
                $('#skins').html(data);
            });
    }
</script>