
@{
    ViewBag.Title = "Новости проекта";
}

<h2 class="page-title">@ViewBag.Title</h2>

<input id="filter" class="form-control" placeholder="Поиск по названию и тексту" />

<div id="newsList">
    @Html.Action("NewsPartialList")
</div>

<script type="text/javascript">
    $('#filter')
        .on('input',
            function() {
                LoadNews(null);
            });

    function FilterNews(page) {
        LoadNews(page);
    }

    function LoadNews(pageNumber) {
        $.ajax({
            url: '@Url.Action("NewsPartialList")',
            data: {
                page: pageNumber,
                newsTitleFilter: $('#filter').val()
            }
        }).done(function (data) {
            $('#newsList').html('');
            $('#newsList').html(data);
        });
    }
</script>