@{
    ViewBag.Title = "Подтверждение почты";
}

<h2>@ViewBag.Title</h2>
<div>
    <p>
        Благодарим вас за регистрацию! На ваш Email <b>@ViewBag.Email</b> было выслано подтверждение.
    </p>
</div>
