@{
    ViewBag.Title = "Сброс пароля";
}

<h2 class="page-title">@ViewBag.Title</h2>
<div>
    <p>
        На ваш email <strong>@ViewBag.Email</strong> отправлена ссылка для сброса пароля. Проверьте электронную почту, чтобы изменить пароль.
    </p>
</div>
	
