<div style='background: url(../Content/Images/mailbg.jpg) no-repeat; width: 753px; height: 545px; background-size: auto 100%; background-position-x: 50%; margin: 0 auto; padding: 30px;'>
    <div style='background: url(../Content/Images/logo.png) no-repeat; width: 465px; height: 66px; margin: 0 auto; margin-top: 30px;'></div>
    <div style='width: 100%; height: 70%; background: rgba(67, 228, 221, 0.38); margin-top: 35px; border: 2px solid;position: relative;'>
        <p style='margin: 21px; font-size: 22px; color: #fff; font-weight: bold; text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;'>
            Доброго времени суток! Для сброса пароля перейдите по ссылке
        </p>
        <p style='position: absolute; text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000; color: #fff; text-align: justify; margin: 25px; bottom: 0;'>
            Данное письмо было отправлено с проекта HitechCraft - Multiserver Complex, так как вы указали свой email. Если это не имеет к вам никакого отношения - просто проигнорируйте это письмо!
        </p>
    </div>
</div>