@{
    ViewBag.Title = "Главная";
}
<div class="logo"></div>
<div class="row">
    <div class="col-md-4">
        <div class="admin-category" onclick="document.location='@Url.Action("Index", "User")'">
            <h2><span class="glyphicon glyphicon-user"></span></h2>
            <span>Пользователи</span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="admin-category" onclick="document.location='@Url.Action("Index", "News")'">
            <h2><span class="glyphicon glyphicon-comment"></span></h2>
            <span>Новости</span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="admin-category" onclick="document.location='@Url.Action("Index", "ShopItem")'">
            <h2><span class="glyphicon glyphicon-shopping-cart"></span></h2>
            <span>Магазин ресурсов</span>
        </div>
    </div>
    @*<div class="col-md-4">
        <div class="admin-category">
            <h2><span class="glyphicon glyphicon-ruble"></span></h2>
            <span>Экономика</span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="admin-category">
            <h2><span class="glyphicon glyphicon-book"></span></h2>
            <span>Аналитика</span>
        </div>
    </div>*@
</div>