<div class="modal fade" id="gameIdModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Что такое Game ID?</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <img src="~/Content/Images/item-id.jpg" style="max-width: 100%;" />
                    </div>
                    <div class="col-md-6">
                        <p>Игровой ID предмета можно найти в меню предметов самой игры (см. рисунок). Необходимо навести мышкой на предмет и появится окно с его названием и ID.</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Понятно</button>
            </div>
        </div>
    </div>
</div>