@model HitechCraft.WebAdmin.Models.SkinViewModel

<h4 class="skin-title"><strong>Возможно скин уже загружен!</strong></h4>
<div id="skinpreviewduplicated" class="skinpreview" height="100%" width="100%"></div>

<script>
    $(document).ready(function() {
        var P1 = new MSP({
            showcape: true,
            running: false,
            spin: false,
            freezecamera: true,
            container: "#skinpreviewduplicated",
            width: 200,
            height: 300
        });

        P1.changeSkin('data:image/jpeg;base64,@Convert.ToBase64String(Model.Image)');
    });
</script>