/*IMPORT*/
@font-face {
  font-family: 'Arbat';
  src: url("fonts/arbat.ttf"); }

@font-face {
  font-family: 'Headplane';
  src: url("fonts/headplane.TTF"); }

@font-face {
  font-family: 'OpenSans';
  src: url("fonts/opensans-regular.TTF"); }

@font-face {
  font-family: 'OpenSansBold';
  src: url("fonts/opensans-bold.TTF"); }

@font-face {
  font-family: 'Furore';
  src: url("fonts/Furore.otf"); }

@media (min-width: 1420px) and (max-width: 1659px) {
  .slider {
    height: 942px !important; } }

@media (min-width: 1660px) and (max-width: 1920px) {
  .slider {
    height: 1094px !important; } }

@media (min-width: 1920px) {
  .slider {
    height: 1118px !important; } }

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg); }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg); }
  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg); }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg); }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg); }
  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg); }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg); }
  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg); }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg); } }

.hex {
  cursor: pointer;
  width: 240px;
  height: 138px;
  background-color: #049372;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto 173px;
  position: relative;
  float: left;
  margin: 40px 5px;
  text-align: center;
  zoom: 1; }
  .hex:hover {
    background-color: #339c84; }
  .hex-gap {
    margin-left: 130px; }
  .hex a {
    display: block;
    margin: 0 auto;
    margin-top: 67px;
    font-weight: bold;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 6px 10px;
    max-width: 143px; }
    .hex a:hover, .hex a:focus {
      color: #FDE3A7;
      border: 2px solid #FDE3A7; }
  .hex .corner-1,
  .hex .corner-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: 1;
    overflow: hidden;
    backface-visibility: hidden; }
  .hex .corner-1 {
    transform: rotate(60deg); }
  .hex .corner-2 {
    transform: rotate(-60deg); }
  .hex .corner-1:before,
  .hex .corner-2:before {
    width: 173px;
    height: 173px;
    content: '';
    position: absolute;
    background: inherit;
    top: 0;
    left: 0;
    z-index: 1;
    background: inherit;
    background-repeat: no-repeat;
    backface-visibility: hidden; }
  .hex .corner-1:before {
    transform: rotate(-60deg) translate(-87px, 0px);
    transform-origin: 0 0; }
  .hex .corner-2:before {
    transform: rotate(60deg) translate(-48px, -11px);
    bottom: 0; }
  .hex .inner {
    position: relative;
    z-index: 3;
    background-image: url("Images/hex_icons.png");
    background-repeat: no-repeat;
    background-position: 50%; }
  .hex h4 {
    font-family: Furore, sans-serif;
    margin: 0;
    font-size: 28px;
    color: #fff;
    line-height: 138px;
    text-shadow: 2px 0 0 #2c3e50, -2px 0 0 #2c3e50, 0 2px 0 #2c3e50, 0 -2px 0 #2c3e50, 1px 1px #2c3e50, -1px -1px 0 #2c3e50, 1px -1px 0 #2c3e50, -1px 1px 0 #2c3e50; }
  .hex hr {
    border: 0;
    border-top: 1px solid #eee;
    width: 60%;
    margin: 15px auto; }
  .hex p {
    font-size: 16px;
    font-family: 'Kotta One', serif;
    width: 80%;
    margin: 0 auto; }
  .hex-news .inner {
    background-position: 0px 0px; }
  .hex-forum .inner {
    background-position: -240px 0px; }
  .hex-servers .inner {
    background-position: -240px -274px; }
  .hex-top .inner {
    background-position: 0px -137px; }
  .hex-shop .inner {
    background-position: 0px -274px; }
  .hex-vote .inner {
    background-position: -480px 0px; }
  .hex-skin .inner {
    background-position: -240px -137px; }

.title-main {
  background-image: url("Images/titles.png"); }

/*VARIABLES*/
html, body {
  padding: 0;
  font-family: "Open Sans", sans-serif;
  min-width: 1200px;
  max-width: 1920px;
  margin: 0 auto;
  height: 100%;
  background-image: url("Images/bg.jpg"); }

a {
  color: #fff;
  outline: none;
  text-decoration: none; }
  a:hover {
    color: #81CFE0; }
  a:focus {
    color: #81CFE0; }

.navbar {
  position: relative;
  height: 100px;
  width: 100%;
  background-color: #2e3c49; }
  .navbar:before {
    display: table;
    content: " "; }
  .navbar:after {
    display: table;
    content: " "; }

ul.nav {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
  float: left;
  width: 100%; }
  ul.nav li {
    display: block;
    float: left;
    position: relative;
    width: 14.2857142857%; }
    ul.nav li a {
      display: block;
      font-family: 'Furore', sans-serif;
      padding: 40px 0;
      text-align: center; }
      ul.nav li a:hover {
        background-color: #212a33; }
      ul.nav li a:focus {
        background-color: #212a33; }
    ul.nav li ul {
      position: absolute;
      display: none;
      width: 100%;
      padding: 0;
      margin: 0;
      z-index: 10000; }
      ul.nav li ul li {
        float: none;
        width: auto;
        background: #2e3c49;
        border-top: 1px solid #42596f; }
        ul.nav li ul li a {
          padding: 25px 0; }
  ul.nav:before {
    display: table;
    content: " "; }
  ul.nav:after {
    display: table;
    content: " "; }

.container {
  background-color: #336E7B;
  width: 100%;
  min-height: 800px; }
  .container .hex-menu {
    width: 100%;
    background: url("Images/hex-menu.jpg") no-repeat fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 600px; }
    .container .hex-menu-content {
      max-width: 1008px;
      margin: 0 auto;
      margin-top: 200px;
      margin-bottom: 200px; }
      .container .hex-menu-content:before, .container .hex-menu-content:after {
        display: table;
        content: " "; }
    .container .hex-menu:before, .container .hex-menu:after {
      display: table;
      content: " "; }
  .container:before {
    display: table;
    content: " "; }
  .container:after {
    display: table;
    content: " "; }

.main {
  width: 100%;
  margin: 0 auto; }
  .main:before {
    display: table;
    content: " "; }
  .main:after {
    display: table;
    content: " "; }

.title {
  float: left;
  font-family: 'OpenSansBold', sans-serif;
  background-color: #314458;
  height: 148px;
  width: 62%;
  margin-top: 102px;
  color: #fff;
  z-index: 100;
  text-shadow: 2px 0 0 #314458, -2px 0 0 #314458, 0 2px 0 #314458, 0 -2px 0 #314458, 1px 1px #314458, -1px -1px 0 #314458, 1px -1px 0 #314458, -1px 1px 0 #314458; }
  .title-block {
    position: relative;
    width: 100%;
    height: 250px; }
  .title-image {
    position: absolute;
    top: 0;
    width: 250px;
    height: 250px;
    z-index: 101; }
  .title-text {
    position: relative;
    font-size: 48px;
    font-weight: bold;
    padding: 19px 20px 0;
    z-index: 102; }
  .title-desc {
    position: relative;
    font-size: 15.5px;
    padding: 5px 23px 0;
    font-weight: bold;
    line-height: 18px;
    z-index: 102; }
  .title-link {
    background-color: #7aa4ea;
    height: 148px;
    width: 38%;
    float: left;
    margin-top: 102px; }
    .title-link a {
      display: block;
      font-family: 'Furore';
      font-size: 55px;
      padding: 42px 13px;
      text-align: center; }
      .title-link a:hover {
        color: #2e3c49; }
      .title-link a:focus {
        color: #2e3c49; }
  .title:before {
    display: table;
    content: " "; }
  .title:after {
    display: table;
    content: " "; }

.slider {
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 800px; }
  .slider ul {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%; }
    .slider ul li {
      width: 100%; }
      .slider ul li img {
        width: 100%; }

.logo {
  background: #2e3c49;
  position: absolute;
  padding: 21px 23px;
  color: #fff;
  margin-top: 100px; }
  .logo .text {
    font-family: 'Furore';
    font-size: 80px; }
  .logo .sign {
    display: block;
    font-family: OpenSansBold;
    margin-top: -6px; }

.clear {
  clear: both; }

footer {
  height: 100px;
  background-color: #484848; }

.project-desc {
  min-height: 600px;
  background: url("Images/desc.jpg") no-repeat fixed;
  background-size: 100%; }
  .project-desc h1 {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.41);
    padding: 193px 55px; }

.footer-left-col {
  float: left; }
  .footer-left-col .copyrights {
    font-family: 'Furore';
    color: #fff;
    font-size: 21px;
    padding: 37px; }

.footer-right-col {
  float: right; }
  .footer-right-col .banners a {
    display: inline-block;
    margin: 24px 26px 23px 26px; }

.gamestart {
  background-color: #EB9532;
  -webkit-animation-name: shake;
  -webkit-animation-duration: 0.8s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear; }
  .gamestart:hover, .gamestart:focus {
    color: #212a33;
    background-color: #EB9532 !important; }

.splitter {
  background-color: #22313F;
  height: 100px;
  font-family: 'Furore';
  color: #fff;
  text-align: center;
  font-size: 25px; }
  .splitter span {
    padding: 36px 0;
    display: block; }

.item-day {
  position: absolute;
  background-image: url("Images/hole.png");
  width: 360px;
  height: 400px;
  right: 93px;
  top: 74px; }
  .item-day h4 {
    position: absolute;
    font-family: 'Furore';
    color: #fff;
    font-size: 28px;
    text-align: center;
    top: 63px;
    left: 79px; }
  .item-day img {
    position: absolute;
    top: 144px;
    left: 120px;
    max-width: 110px; }
  .item-day a {
    position: absolute;
    top: 267px;
    left: 112px;
    font-weight: bold;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 6px 32px;
    max-width: 143px; }
    .item-day a:hover, .item-day a:focus {
      color: #FDE3A7;
      border: 2px solid #FDE3A7; }
  .item-day span {
    position: absolute;
    display: block;
    top: 323px;
    width: 100%;
    text-align: center;
    font-family: 'Furore';
    color: #fff; }

