@using PagedList.Mvc
@model PagedList.IPagedList<WebApplication.Models.CommentViewModel>
@{
    Layout = null;
}

@if (Model!= null && Model.Any())
{
    foreach (var comment in Model)
    {
        <p>@comment.Text</p>
        <p>@comment.AuthorName</p>
    }

    @Html.PagedListPager(Model, page => "javascript:FilterComments(" + page + ")")
}
else
{
    <p>Нет комментариев</p>
}