@{
    Layout = null;
}

<footer>
    <div class="col-md-3">
        <div class="footer-col-title">
            Присоединяйся
        </div>
        <div class="footer-col-content">
            <div class="social">
                <div class="social-icon vk"></div><span class="social-title"><a href="http://vk.com/playztn">ZTN Team</a></span>
            </div>
            <div class="social">
                <span class="social-icon vk"></span><span class="social-title"><a href="http://vk.com/hitechcraft">HitechCraft</a></span>
            </div>
            <div class="social">
                <span class="social-icon youtube"></span><span class="social-title"><a href="https://www.youtube.com/channel/UCygDJiLT3NaPEL4ulnJFO9Q">Канал Youtube</a></span>
            </div>
            <div class="social">
                <span class="social-icon twitter"></span><span class="social-title"><a href="https://twitter.com/ztnteam">Twitter</a></span>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="footer-col-title">
            О нас
        </div>
        <div class="footer-col-content">
            HitechCraft - проект серверов
            Minecraft различного
            плана: от индустриального
            типа до клановых серверов.
            <p>Задать вопрос: <span class="email">support&#64hitechcraft.ru</span></p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="footer-col-title">
            Инфо
        </div>
        <div class="footer-col-content">
            <div class="banners">
                <a href="http://www.megastock.ru/" target="_blank"><img src="~/Content/Images/banners/acc_blue_on_white_ru.png" alt="www.megastock.ru" border="0" /></a>
                <a href="https://passport.webmoney.ru/asp/certview.asp?wmid=236137174437" target="_blank"><img src="~/Content/Images/banners/v_blue_on_white_ru.png" alt="Здесь находится аттестат нашего WM идентификатора 236137174437" border="0"/></a>
                <a href="https://www.interkassa.com/" title="INTERKASSA" target="_blank">
                    <img src="https://www.interkassa.com/img/ik_88x31_01.gif" alt="INTERKASSA" />
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="ztn-logo"></div>
    </div>
</footer>