@font-face {
    font-family: 'Arbat';
    src: url('../fonts/arbat.ttf');
}

@font-face {
    font-family: 'Headplane';
    src: url('../fonts/headplane.TTF');
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/opensans-regular.TTF');
}

@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/opensans-bold.TTF');
}

@font-face {
    font-family: 'Furore';
    src: url('../fonts/Furore.otf');
}