.server {
    &-page-title{
        margin-bottom: 40px;
    }
    &-image {
        width: 100%;
        margin-bottom: 10px;
    }

    &-info {
        list-style: none;
        border: 1px solid rgba(0, 0, 0, 0.41);
        padding: 0;
        margin-top: 15px;

        &-panel {
            box-shadow: 6px 6px 12px -6px rgb(119, 119, 119);
        }

        &-item {
            border: 1px solid rgba(0, 0, 0, 0.41);
            padding: 11px;

            span {
                font-weight: bold;
                color: #333333 !important;
            }

            &-offline {
                color: red;
            }

            &-online {
                color: lawngreen;
            }
        }
    }

    &-description {
        word-break: break-all;
    }
}
