.server {

    &-page-title {
        margin-bottom: 40px;
    }

    &-image {
        width: 100%;
        margin-bottom: 10px;
        border: 1px solid #fff;
        cursor: pointer;

        &:hover {
            border: 1px solid #000;
        }
    }

    &-info {
        list-style: none;
        border: 1px solid rgba(0, 0, 0, 0.41);
        padding: 0;
        margin-top: 15px;

        &-panel {
            border-radius: 0 !important;

            .panel-heading {
                border-radius: 0 !important;
            }

            .panel-body {
                min-height: 296px;
                border-radius: 0 !important;
            }
        }

        li {
            border: 1px solid rgba(0, 0, 0, 0.41);
            padding: 11px;

            span {
                &:first-child {
                    font-weight: bold;
                    color: #333333;
                }
            }

            &-offline {
                color: red;
            }

            &-online {
                color: lawngreen;
            }
        }
    }

    &-description {
        text-align: justify;
    }
}

.modification {
    &-panel {
        min-height: 370px;
        border-radius: 0 !important;

        .panel-heading {
            border-radius: 0 !important;
        }

        .panel-body {
            min-height: 317px;
            border-radius: 0 !important;
        }
    }

    &-image {
        max-width: 100%;
        max-height: 125px;
        margin-bottom: 25px;
        cursor: pointer;
    }
}
