@media(min-width: 1420px) and (max-width: 1659px){
    .slider {
        height: 942px !important;
    }
}

@media(min-width: 1660px) and (max-width: 1920px) {
    .slider {
          height: 1094px !important;
    }
}

@media(min-width: 1920px) {
    .slider {
        height: 1118px !important;
    }
}
