<footer>
    <div class="footer-left-col">
        <div class="copyrights">
            HitechCraft (c) 2016
        </div>
    </div>
    <div class="footer-right-col">
        <div class="banners">
            <a href="https://www.interkassa.com/" title="INTERKASSA" target="_blank">
                <img src="~/Content/Images/banners/interkassa.png" alt="INTERKASSA" />
            </a>
            <a href="http://www.megastock.ru/" target="_blank">
                <img src="~/Content/Images/banners/webmoney.png" alt="www.megastock.ru"/>
            </a>
            <a href="https://passport.webmoney.ru/asp/certview.asp?wmid=236137174437" target="_blank">
                <img src="~/Content/Images/banners/webmoney-sert.png" alt="Здесь находится аттестат нашего WM идентификатора 236137174437" />
            </a>
            <a href="#" target="_blank">
                <img src="~/Content/Images/banners/ztn.png" alt="ZTN Team" />
            </a>
        </div>
    </div>
</footer>