<div class="header-row">
    <div class="header-box">
        <div class="logo-htc">
            HITECHCRAFT
            <span>Multiserver Complex</span>
        </div>
        @*<div class="game-start">
                <a href="@Url.Action("GameStart", "Home")">Начать игру!</a>
            </div>*@
    </div>
</div>