
@{
    Layout = null;
}

<div class="title-row">
    <div class="title-box">
        <div class="ztn-team">
        </div>
        <iframe class="title-media" width="537" height="303" src="https://www.youtube.com/embed/83GsyQHEHo8" frameborder="0" allowfullscreen></iframe>
        <div class="clear"></div>
    </div>
</div>