
@{
    ViewBag.Title = "Модификации";
}

<h2 class="page-title">@ViewBag.Title</h2>

<div class="list-button">
    <input id="filter" class="form-control" placeholder="Поиск по названию и тексту" />
    @Html.ActionLink("Добавить модификацию", "Create", "Modification", null, new { @class = "btn btn-primary" })
</div>

<div id="modsList">
    @Html.Action("ModPartialList")
</div>

<script type="text/javascript">
    $('#filter')
        .on('input',
            function() {
                LoadMods(null);
            });

    function FilterMods(page) {
        LoadMods(page);
    }

    function LoadMods(pageNumber) {
        $.ajax({
            url: '@Url.Action("ModPartialList")',
            data: {
                page: pageNumber,
                modTitleFilter: $('#filter').val()
            }
        }).done(function (data) {
            $('#modsList').html('');
            $('#modsList').html(data);
        });
    }
</script>