@using HitechCraft.WebApplication.Manager
@model HitechCraft.WebApplication.Models.ShopItemViewModel

<h2>@Model.Name</h2>
<img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Image)" />

<span class="price">
    Цена: @Model.Price Gont(s)
</span>

@if (User.IsInRole("Administrator"))
{
    <a class="btn btn-primary" href="@(Const.WebAdminBaseUrl + "ShopItem/EditItem?gameId=" + Model.GameId)">Администрирование</a>
}

@Html.ActionLink("Купить", "BuyItem", "Shop", new { gameId = Model.GameId }, new { @class = "btn btn-primary" })
