@using HitechCraft.WebApplication.Manager
<p>
    Никогда не хотели, чтобы валюта поступала вам на счет <strong>просто так</strong>? Реферальная система предоставляет вам такую возможность.
    Зарегистрировавшийся по Вашей ссылке пользователь будет приносить вам прибыль, за счет пополнения своего счета RUB (<strong>только при покупке через Интеркасса!</strong>).

</p>
<p>Ваша ссылка: <span id="ref-url">@(Const.WebAppBaseUrl + "?refer=" + ViewBag.PlayerName)</span> (<a href="javascript:copyLink()" id="copyLink" data-clipboard-target="#ref-url">скопировать</a>)</p>
<p>
    Разместить ссылку можно где угодно: на форумах, группах ВКонтакте и пр. Приведенный вами игрок при пополнении счета RUB
    будет приносить вам прибыть в размере <strong>2%</strong> от пополнения (<strong>минимальное пополнение - 0.5 RUB</strong>).
</p>
<script type="text/javascript">
    
    (function () {
        new Clipboard('#copyLink');
    })();

    function copyLink() {
        growlSuccess('Ссылка скопирована!');
    }
</script>