<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Domain" value="hitechcraft.ru" />
    <add key="BaseUrl" value="http://hitechcraft.ru/" />
    
    <add key="TopCraftKey" value="de2d1e56cb36622a79d236bf942a939d" />
    <add key="MCTopKey" value="h5h43hrehfdse7we2rujdjfvz" />
    <add key="MCTopSuKey" value="3j4j34jfdsf9e932kjfdksjgdssepe3l2k" />
    
    <add key="LauncherMasterVersion" value="v2.0beta" />
    <add key="LauncherKeyChars" value="abcdefghijklmnopqrstuvwxyz1234567890" />
  </appSettings>
</configuration>