@model WebApplication.Models.UserSkinViewModel
@{
    ViewBag.Title = "UploadSkin";
}

<h2>UploadSkin</h2>

<div class="progress progress-striped active" style="visibility: hidden">
    <div class="progress-bar" style="width: 0;"></div>
</div>

<fieldset>
    <legend>Добавить изображение</legend>

    <div class="editor-label">Файл изображения</div>
    <div class="editor-field">
        <input type="file" accept="image/png" name="uploadSkinImage" id="file-upload" />
    </div>
</fieldset>

<img src="@Url.Action("GetSkinImage", "Account" , new { userName = User.Identity.Name })" id="skin-image" class="skin" hidden="" />

<script type="text/javascript">

    $(document).ready(function () {

        renderMCSkins('skin', 10);

        $('#file-upload').change(function () {
            var ext = $(this).val().match(/\.([^\.]+)$/)[1];

            if (ext != "png") {
                growlError("@Resources.ErrorSkinFormat");
                setTimeout(function () {
                    window.location.href = window.location.href;
                }, 2000);
            }
        });

        $('#file-upload').fileupload({
            url: '@Url.Action("UploadSkin", "Account")',
            autoUpload: true
        }).on('fileuploadprogressall', function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);

            $('.progress .progress-bar').css('visibility', 'visible');
            $('.progress .progress-bar').css('width', progress + '%');
            $('.progress .progress-bar').html(progress + '%');
            $('#skin-image').attr("src", "");

            if (progress >= 100) {
                $('#skin-image').attr("src", "");
                setTimeout(function () {
                    window.location.href = window.location.href;
                }, 2000);
            }
        });
    });
</script>